:root {
    --blue_2: rgb(35,43,56);
    --blue: rgba(18, 22, 29, 0.8);
    --yellow: rgb(241, 174, 74);
    --grey: #3d3d3d;
    --dark: #222222;
}

/* UTILITIES */
.yellow-font {
    color: var(--yellow) !important;
}
.yellow-outline {
    color: var(--yellow);
    background-color: transparent;
    border-color: var(--yellow);
}
.yellow-outline:hover {
    color: var(--blue);
    background-color: var(--yellow);
    border-color: var(--blue);
}
.bg-grey {
    background-color: #f9f9f9;
}
.bg-dark {
    background-color: var(--dark);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-blue-2 {
    background-color: var(--blue_2);
}

/* DEFAULTS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/* HERO BANNER & NAVBAR SECTION */
.hero-home {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('/images/company/Hero-Banner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero .nav,
.hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.hero .title {
    font-size: 4rem;
}
.hero-sub {
    font-size: 1.5rem;
    padding-top: 1rem;
}
.hero-col {
    margin-top: 6rem;
}
.hero-container {
    padding: 2rem;
}
.hero-box {
    background-color: var(--blue);
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: var(--yellow);
}
.hero-box:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: 200ms linear;
}

/* SERVICES SECTION */
.services-parallax {
    background: linear-gradient(rgba(18, 22, 29, 0.85),rgba(18, 22, 29, 0.85)), url('/images/company/Project-12.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.services-card {
    background-color: var(--blue);
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: var(--yellow);
}

/* MATERIALS SECTION */
.card:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bold-title {
    color: var(--grey);
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 5rem;
}

/* BRANDS SECTION */
.slider-navigation-next, .slider-navigation-previous, .slider-pagination {
    display: none;
}

/* LOCATION SECTION */
.location-parallax {
    background: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)), url('/images/map-small.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.location:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bold-title-lt {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 1rem;
}

.location-text {
    color: white;
    font-size: 1rem;
    padding-bottom: 1rem;
    font-weight: 200;
}


/* ---------------- ABOUT PAGE ---------------- */
/* HERO BANNER */
.hero-about {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('/images/company/Building.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rick-spacer {
    padding-bottom: 9.5rem;
}

.mark-spacer {
    padding-bottom: 7rem;
}

.clint-spacer {
    padding-bottom: 5rem;
}

.jaime-spacer {
    padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .rick-spacer, .mark-spacer, .clint-spacer, .jaime-spacer {
        display: none;
    }
}