:root {
    --light-blue: #08325c;
    --blue-no-alpha: #232b38;
    --blue: rgba(18, 22, 29, 0.8);
    --yellow: #f1ae4a;
    --grey: #3d3d3d;
    --dark: #222222;
}

/* SCROLL */
html{scroll-behavior:smooth}

/* UTILITIES */
.yellow-font {
    color: var(--yellow) !important;
}
.yellow-outline {
    color: var(--yellow);
    background-color: transparent;
    border-color: var(--yellow);
}
.yellow-outline:hover {
    color: var(--blue);
    background-color: var(--yellow);
    border-color: var(--blue);
}
.blue-btn {
    color: white;
    background-color: var(--light-blue);
}
.blue-btn:hover {
    color: var(--light-blue);
    background-color: transparent;
    border-color: var(--light-blue);
    border-width: 2px;
}
.bg-grey {
    background-color: #f9f9f9;
}
.bg-dark {
    background-color: var(--dark);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-blue-2 {
    background-color: var(--blue-no-alpha);
}

/* DEFAULTS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR SECTION */
.navbar {
    padding-top: 2rem;
}
.nav-a {
    color: #ffffff;
}
.nav-a:hover {
    color: var(--yellow) !important;
}

/* Change bulma settings for mobile navbar */
.navbar-menu {
    background-color: var(--blue-no-alpha);
}

/* HERO BANNER SECTION */
.hero-home {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('/images/company/Hero-Banner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero .nav,
.hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.hero .title {
    font-size: 4rem;
    color: #ffffff;
}
.hero .subtitle {
    color: #ffffff;
}
.hero-sub {
    font-size: 1.5rem;
    padding-top: 1rem;
}
.title-pad {
    padding-top: 15rem;
}
.container-pad {
    padding-top: 3rem;
}
.hero-container {
    padding: 2rem;
}
.hero-box {
    background-color: var(--blue);
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: var(--yellow);
}
.hero-box:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: 200ms linear;
}

/* SERVICES SECTION */
.services-parallax {
    background: linear-gradient(rgba(18, 22, 29, 0.85),rgba(18, 22, 29, 0.85)), url('/images/company/Project-12.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.services-card {
    background-color: var(--blue);
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: var(--yellow);
}
.services-card:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* MATERIALS SECTION */
.material-card:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bold-title {
    color: var(--grey);
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 5rem;
}
.btn-column {
    padding-top: 2rem;
}

/* ABOUT CLIENTS SECTION */
.about-title {
    color: var(--grey);
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 1rem;
}
.about-text {
    font-weight: 900;
    font-size: 1.5rem;
}

/* BRANDS SECTION */
.slider-navigation-next, .slider-navigation-previous, .slider-pagination {
    display: none;
}

/* LOCATION SECTION */
.location-parallax {
    background: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)), url('/images/map-small.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.location:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bold-title-lt {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 1rem;
}
.location-text {
    color: white;
    font-size: 1rem;
    padding-bottom: 1rem;
    font-weight: 200;
}

/* CONTACT SECTION */
.contact {
    padding-top: 3rem;
    text-align: center;
}


/* ---------------- THANK YOU PAGE ---------------- */
.hero-thankyou {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.85)), url('/images/thankyou.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* ---------------- PRODUCTS PAGE ---------------- */
/* HERO BANNER */
.hero-prod {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('/images/company/Metal-2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-container {
    overflow: hidden;
}
.content-tab {
    border: 2px solid transparent;
    border-radius: 4px;
    border-color: var(--blue);
}
.car-item {
    padding: 1rem;
}

/* ---------------- ABOUT PAGE ---------------- */
/* HERO BANNER */
.hero-about {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('/images/company/Building.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.rick-spacer {
    padding-bottom: 9.5rem;
}
.mark-spacer {
    padding-bottom: 7rem;
}
.clint-spacer {
    padding-bottom: 5rem;
}

/* MEDIA QUERIES */

/* MOBILE */
@media screen and (max-width: 768px) {
    .title-pad {
        padding-top: 1rem;
    }
    .container-pad {
        padding-top: 1rem;
    }
    #services-desktop {
        display: none;
    }
    .bold-title {
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    .stars {
        display: none;
    }
    .bold-title-lt {
        font-size: 1.5rem;
    }
    .location-text {
        font-size: .8rem;
    }
    #btn-tablet {
        display: none;
    }
    /* ABOUT PAGE MOBILE */
    .rick-spacer, .mark-spacer, .clint-spacer, .jaime-spacer {
        display: none;
    }
}

/* TABLET */
@media screen and (min-width: 769px) and (max-width: 936px) {
    .title-pad {
        padding-top: 2rem;
    }
    .container-pad {
        padding-top: 3rem;
    }
    .bold-title {
        font-size: 2.5rem;
        font-weight: 900;
        padding-top: 2rem;
    }
    .bold-title-lt {
        font-size: 1rem;
        font-weight: 900;
    }
    .location-text {
        font-size: .8rem;
    }
    #services-desktop {
        display: none;
    }
    #btn-desktop {
        display: none;
    }

}

/* DESKTOP */
@media screen and (min-width: 937px) {
    #services-mobile {
        display: none;
    }
    #btn-tablet {
        display: none;
    }
}

/* NAVBAR */
@media screen and (max-width: 1024px) {
    .navbar {
        padding-top: 0rem;
    }
}